$asul:#788BFF

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color:#5158BB;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    
    
}
footer{
    padding: 10px 10px 10px;
    background-color:#9BB1FF;
    margin-bottom: 0px;
    margin-top: 10px;
}
.btn{
    color: black;
    background-color: #BFD7FF;
    border-radius: 10px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    background-color: #E2FDFF;
    margin: 1px;
    border-radius: 10px;
}
.btn-reserve{
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
}

.bi-cursor-fill{
    margin-right: 2px;
}
.tab-content{
    padding-top: 10px;
}
